body{
    background-color:white;
    
}
.openingtag{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
    margin-top: 8%;
    text-align: center;
}

.openingGIF{
    top: 30%;
    text-align: center;
}
.button >.btn{
    position: absolute;
    margin-left: 42%;
    margin-top: 50px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Arial", Helvetica, sans-serif;
    text-align: center;
    background-color:dodgerblue;
    color: aliceblue;
    width: 160px;
    padding: 10px;
}
.button > .btn2{
    margin-left: 42%;
    margin-top: 100px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    font-family: "Arial", Helvetica, sans-serif;
    text-align: center;
    background-color:dodgerblue;
    color: aliceblue;
    width: 160px;
    padding: 10px;
}

